body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color:#283136;
  background-color: #ffffff;
}
p{
  margin: 0;
  padding: 0;
}
h3{
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
.main-header{
  background-color: #eeeeee;
  background-size: 100%;
}
.main-nav {
  font-size: 16px;
  line-height: 30px;
  background-color: #eeeeee;
  background-size: 100%;
}

.user-nav,
.site-nav {
  list-style: none;
}

.user-nav a,
.site-nav a {
  color: #283136;
  text-transform: uppercase;
}

.user-nav a:hover,
.site-nav a:hover,
.user-nav a:focus,
.site-nav a:focus {
  color: #fb565a;
}

/*
.user-nav a:visited,
.site-nav a:visited {
  color: rgba(0,0,0,0.3);
}

.user-nav a:active,
.site-nav a:active {
  border-bottom:1px solid red;

логотип -нажатие
для корзины иконку добавить
}*/

.main-header-logo img:hover{ /*--*/
  opacity: 0.3;
}

.main-top{
  background-color: #eeeeee;
  margin-bottom:80px;
}

.visually-hidden{
  display: none;
}

.basket::before{
  background-image: url("img/cart-icon.svg") 0 0 no-repeat;
}
.slider{
  position: relative;
  height: 412px;
  width: 1160px;
  margin: 0 auto;
}

.slider-controls{
  position: absolute;
  bottom: 95px;
  left:50%;
  width: 200px;
  height: 10px;
  margin-left: -100px;
  text-align: center;
  z-index: 1000;
}

.slide{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slide-text{
  width: 380px;
  padding: 38px 0;
  color: #283136;
}

.slide-title{
  font-size: 36px;
  line-height: 1;
  font-weight: bold;
  color: black;

}
.slider-controls label{
  display: inline-block;
  width: 4px;
  height: 4px;
  margin: 0 3px;
  background: white;
  border: 3px solid white;
  vertical-align: top;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls .active{
  background: #c2c2c2;
}

.slides .btn{
  display: block;
  width: 248px;
  padding: 10px 0;
  margin-top: 25px;
  font-size: 12px;
  color: white;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  background: #fb565a;
  border-radius: 3px;
}
#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"]{
  background: #d2d2d2;
}
.slide{
  display: none;
}
#btn-1:checked ~ .slides .slide:nth-child(1){
  display:block;
}
#btn-2:checked ~ .slides .slide:nth-child(2){
  display:block;
}
#btn-3:checked ~ .slides .slide:nth-child(3){
  display:block;
}

.slide:nth-child(1){
  background-image: url("../img/slide1.png");
  background-repeat: no-repeat;
  background-position: 100% 5px;
}

.slide:nth-child(2){
  background-image: url("../img/slide2.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.slide:nth-child(3){
  background-image: url("../img/slide3.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}
.slider input[type=radio]{
  position: absolute;
  opacity: 0;
}


.slide:nth-child(3){
  display: block;
}
.slide{
  display: none;
}

.big-paragraf {
  font-size: 55px;
  line-height: 55px;
}

.buttom{
  color: #ffffff;
}

.buttom-description{
  padding-top:20px;
  padding-bottom: 20px;
  padding-left: 55px;
  padding-right: 55px;
  background-color: #fb565a;
  border-radius: 2px;
}

.buttom-description:hover{
  background-color: #e74246;
}

.buttom-description:active{
  background-color: #d7373b;
}
.catalog-column{


}
.catalog{
  list-style: none;
  margin: 0;
  padding: 0;
  padding-bottom: 80px;
  border-bottom: 2px solid #eeeeee;
}

.catalog-item-name{
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
}

.buttom-order{
  padding-top: 19px;
  padding-bottom: 19px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 2px;
}

.buttom-red{
  background-color: #fb565a;
}

.buttom-red:hover{            /*цвет текста в hover $ active*/
  background-color: #e74246;
}

.buttom-red:active{
  background-color: #d7373b;
}

.buttom-green{
  background-color: #00ca74;
}

.buttom-green:hover{
  background-color: #00bc6c;
}

.buttom-green:active{
  background-color: #00aa62;
}

.buttom-yellow{
  background-color: #efc84a;
}

.buttom-yellow:hover{
  background-color: #eab534;
}

.buttom-yellow:active{
  background-color: #e5a722;
}

.middle-paragraf{
  font-size: 45px;
  line-height: 45px;
}

.our-servises{
  text-transform: uppercase;
  font-weight: bold;
}

caption{
  text-transform: uppercase;
  font-weight: bold;
  white-space:nowrap;
  padding-bottom: 20px;
}

th{
  font-size: 45px;
  line-height: 10.06px;
  padding-bottom:30px;
}
tr{
  line-height: 18px;
}

.clients-column {
  list-style: none;
}

.clients-item img {
opacity: 0.2;
}

.clients-item img:hover{
opacity: 1;
}

.clients-item img:active{
opacity: 0.1;
}

.footer-contacts{
  color: #666666;
  line-height: 18px;
}

.footer-contacts .nerds{
  text-transform: uppercase;
  font-weight: bold;
  color: #000000;
  font-size: 18px;
  line-height: 30px;
  display: inline-block;
  padding-bottom: 30px;
}

.footer-contacts .adress{
  display: inline-block;
  padding-bottom: 20px;
}

.footer-contacts-buttom{
  padding-top: 17px;
  padding-bottom: 17px;
  padding-left: 50px;
  padding-right: 50px;
  background-color: #fb565a;
  border-radius: 2px;
  margin-top: 40px;
}


.road-map{
  background-image: url("../img/map.jpg");
}

.social-networks{
  list-style: none;
}

.social-button{
    display: inline-block;
    float: left;
    width: 80px;
    height: 80px;
    background-color: #e1e1e1;
    vertical-align: middle;
    border-radius: 50%;
}

.social-button:hover{
    background-color: #e74246;
}

.social-button:active{
    background-color: #d7373b;
    color: #e37376;
}

.footer-inscription{
  line-height: 22px;
}

.footer-inscription span{
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
}
/*--INNER--*/
.page-title {
  background-color: #eeeeee;
  font-size: 55px;
  line-height: 55px;
  padding: 0;
  margin: 0;
  text-align: center;
  padding-bottom: 115px;
}

.range-filter{
  width: 260px;
}

.range-controls{
  position: relative;
  height: 80px;
  margin-bottom: 15px;
  padding:0 20px;
  background: #eeeeee;
  border-radius: 5px;
  overflow: hidden;
}

.range-controls .scale{
  margin-top: 39px;
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar{
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle{
  width: 4px;
  height: 4px;
  border: 8px solid white;
  background: #ababab;
  position: absolute;
  top:30px;
  left:20px;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cccdcd;
  cursor: pointer;
}

.price-controls input{
  width: 60px;
  padding:8px 10px;
  margin-left:10px;
  border: none;
  background: #eeeeee;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color:#283136;
}

.price-controls .min-price{
  margin-right: 30px;
}

.price-controls{
  white-space: nowrap;
}
.range-controls .max-toggle{
  left:165px;
}


.filter-type {
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.filter-input + label{
  line-height: 20px;
  color: #283136;
}
.filter-input:hover + label{
  color: #000000;
}

.filter-input:disabled+label:disabled{
  opacity: 0.2;
}


.type-list,
.sort-list,
.pagination-list {
  list-style: none;
}

fieldset {
  border: none;
}

.filters-button{
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 90px;
  padding-right: 90px;
  background-color: #eeeeee;
  border: none;
  border-radius: 2px;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.filters-button:hover{
  background-color: #dfdfdf;
}

.filters-button:active{
  background-color: #d5d5d5;
  color: #a9a9a9;
  border-top: 3px solid #bfbfbf;
}

.sort-button {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  opacity: 0.3;
}

.sort-button:hover{
  opacity: 0.6;
}

.sort-button:active{
  opacity: 1;
  border: none;
}

.pagination-list{
  margin: 0;
  padding: 0;

  display: flex;
  justify-content:center;
  align-items: center;
}
.pagination-item a{
  display: flex;
  justify-content:center;
  align-items: center;
  height:50px;
  width: 50px;
  color: #000000;
  background-color: #eeeeee;
  text-align: center;
  vertical-align:middle;
  border-radius: 2px;
  margin-left: 10px;
}

.next a{
  padding-left: 80px;
  padding-right: 80px;
}
.pagination-item a:hover{
  background-color: #dfdfdf;

}

.pagination-item a:active{

}

/*--Сетка--*/
.wrapper{
    width: 1170px;
    margin: 0 auto;
}

.main-header{
  margin-bottom: ;
}

.main-nav{
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 130px;
  align-items: center;
}

.site-nav{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content:space-around;
  width:600px;
}

.user-nav{
  margin: 0;
  padding: 0;

}

.main-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-top-wrap{
    background-color: #eeeeee;
}
.top-left{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: flex-start;
  width: 378px;
  height: 268px;
  padding: 0;
  margin: 0;
}
.catalog{
  display: flex;
  justify-content: space-between;
}
.catalog-item{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 348px;

}

.about-us-12{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  padding-bottom: 75px;
  border-bottom: 2px solid #eeeeee;
}
.about-us-1{
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: ;
  height: 368px;
}
.about-us-2{
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: ;
  height: 408px;
}

.clients-column {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #eeeeee;
  margin-bottom: 80px;
}

.road-map{
  margin: 0;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  height: 415px;
  align-items: center;
  margin-bottom: 65px;
}
/*.footer-contacts span:last-child{
  display: inline-block;
  padding-bottom: 18px;

}*/
.left01{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: #ffffff;
  padding: 50px;

}

.footer-social-wrap{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-networks{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}
.social-button{
  margin-right: 12px;
}
.footer-inscription{
  padding-left: 135px;
  display: flex;
  flex-direction: column;
  align-self: center;
  flex-grow:1;
}

.main-footer{
  padding-bottom: 75px;
}

.container-inner{
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.sort-list{
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  margin-left:20px ;
}

.sort-list-wrap{
  display: flex;
  justify-content: space-around;
  margin-bottom: 58px;
  margin-left: 20px;
}
.filter-type{

}
.sort-model-wrap{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-left: 140px;
}

.sort-model{
  padding-bottom: 33px;

}

.pagination-list{
  padding-top: 27px;
  padding-bottom: 60px;
}
