body {
  font-family: "Roboto",Arial,sans-serif;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  padding: 0;
  color:#283136;
  background-color: #ffffff;
}

p{
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  border:none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper{
    width: 1160px;
    margin: 0 auto;
}

.main-header{
  background-color: #eeeeee;
  background-size: 100%;
}

.main-header-logo:hover{
  opacity: 0.7;
}

.main-header-logo:active{
  opacity: 0.4;
}

.main-nav{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  min-width: 438px;
  min-height: 100px;
  color: #000000;
  background-color: #eeeeee;
  background-size: 100%;
}

.user-nav,
.site-nav {
  list-style: none;
  line-height: 30px;
  margin: 0;
  padding: 0;
  padding-top: 5px;
  padding-left: 3px;
}

.site-nav{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack:distribute;
      justify-content:space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.site-nav a{
  margin-right: 48px;
  line-height: 30px;
}

.user-nav{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.user-nav a,
.site-nav a {
  color: #000000;
  text-transform: uppercase;
  padding-bottom: 7px;
  font-weight: 500;
}

.user-nav a:hover,
.site-nav a:hover {
  color: #fb565a;
}

.user-nav a:active,
.site-nav a:active {
  padding-bottom: 5px;
  color: #000000;
  border-bottom:2px solid red;
}

.user-nav .basket{
  position: relative;
  padding-left: 42px;
}

.user-nav .basket::before{
  content: "";
  position: absolute;
  width: 18px;
  height: 16px;
  top: 1px;
  left: 0;
  background-image: url("../img/cart-icon.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
  opacity: 0.7;
}

.main-top-wrap{
  background-color: #eeeeee;
  margin-bottom: 95px;
}


.slider{
  position: relative;
  height: 395px;
  width: 1160px;
  margin: 0 auto;
}

.slider-controls{
  position: absolute;
  bottom: 90px;
  left:50%;
  width: 200px;
  height: 10px;
  text-align: center;
  margin-left: -100px;
  z-index: 1000;
}

.slide{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slide-text{
  width: 550px;
  color: #283136;
  padding: 38px 0;
}

.slide-title{
  font-size: 55px;
  line-height: 55px;
  font-weight: bold;
  color: black;
  padding-top: 20px;
  padding-bottom: 27px;
}

.slider-controls label{
  display: inline-block;
  position: relative;
  width: 18px;
  height: 18px;
  margin: 0 8px;
  background: white;
  vertical-align: top;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls .active{
   background: #c2c2c2;
}

.slider-controls label::after{
  content: "";
  position: absolute;
  top:4px;
  right: 4px;
  width: 5px;
  height: 5px;
  background-color: white;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
  opacity: 0;
}

.slides .btn{
  display: block;
  width: 240px;
  padding: 16px 0;
  margin-top: 38px;
  font-size: 16px;
  line-height: 18px;
  color: white;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  background: #fb565a;
  border-radius: 3px;
}

.slides .btn:hover{
  background-color: #e74246;
}

.slides .btn:active{
  background-color: #d7373b;
  border-top: 3px solid #c13135;
  padding-top: 13px;
  color: rgba(255, 255, 255, 0.3);
}

#btn-1:checked ~ .slider-controls label[for="btn-1"]::after,
#btn-2:checked ~ .slider-controls label[for="btn-2"]::after,
#btn-3:checked ~ .slider-controls label[for="btn-3"]::after{
  opacity: 0.9;
}

.slide{
  display: none;
}

#btn-1:checked ~ .slides .slide:nth-child(1){
  display:block;
}
#btn-2:checked ~ .slides .slide:nth-child(2){
  display:block;
}
#btn-3:checked ~ .slides .slide:nth-child(3){
  display:block;
}

.slide:nth-child(1){
  background-image: url("../img/slide1.png");
  background-repeat: no-repeat;
  background-position: 93% 0px;
}

.slide:nth-child(2){
  background-image: url("../img/slide2.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.slide:nth-child(3){
  background-image: url("../img/slide3.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}
.slider input[type=radio]{
  position: absolute;
  opacity: 0;
}

.slide{
  display: none;
}


.catalog{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-bottom: 80px;
  border-bottom: 2px solid #eeeeee;
}

.catalog-item{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  min-height: 348px;
}

.catalog-item:nth-child(3n){
  margin-right: 60px;
}

.catalog-item-name{
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 17px;
}

.btn-order{
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  font-weight: 500;
  width: 160px;
  padding: 14px 0;
  border-radius: 2px;
  color: white;
  text-transform: uppercase;
  margin-top: 27px;
}

.btn-red{
  background-color: #fb565a;
}

.btn-red:hover{
  background-color: #e74246;
}

.btn-red:active{
  background-color: #d7373b;
  border-top: 3px solid #c13135;
  padding-top: 11px;
  color: rgba(255, 255, 255, 0.3);
}

.btn-green{
  background-color: #00ca74;
}

.btn-green:hover{
  background-color: #00bc6c;
}

.btn-green:active{
  background-color: #00aa62;
  border-top: 3px solid #009958;
  padding-top: 11px;
  color: rgba(255, 255, 255, 0.3);
}

.btn-yellow{
  background-color: #efc84a;
}

.btn-yellow:hover{
  background-color: #eab534;
}

.btn-yellow:active{
  background-color: #e5a722;
  border-top: 3px solid #ce961f;
  padding-top: 11px;
  color: rgba(255, 255, 255, 0.3);
}

.about-us-wrap{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 37px;
  padding-bottom: 63px;
  border-bottom: 2px solid #eeeeee;
}

.about-us-studio{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0;
  margin: 0;
}


.our-servises{}
.service-list{
  list-style: none;
  padding: 0;
  margin: 0;
}

.service-item{
  position: relative;
  padding-left: 38px;
  margin-bottom: 19px;
}

.service-item::before{
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 25px;
  height: 2px;
  background-color: #fb565a;
}

.disain-studio{
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  margin-bottom: 34px;
  margin-top: 36px;
}

.our-servises{
  text-transform: uppercase;
  font-weight: bold;
  padding-top:  38px;
  padding-bottom:25px;
}

.about-us-table{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0;
  margin: 0;
  background-image: url("../img/nerds-illustration.png");
  background-repeat: no-repeat;
  background-position: 8px 0;
}

.main-table{
  margin-top: 246px;
}

caption{
  text-transform: uppercase;
  font-weight: bold;
  white-space:nowrap;
  margin-top: 2px;
  padding-bottom: 30px;
}

th{
  font-size: 45px;
  line-height: 45px;
  padding-bottom:20px;
  padding-right: 25px;
}

tr{
  line-height: 18px;
}

sup{
  font-size: 25px;
}

.clients-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 2px solid #eeeeee;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 75px;
}

.clients-item{
  position: relative;
  padding-right: 40px;
}

.clients-item:not(:nth-child(4n))::after{
  content: "";
  position: absolute;
  width: 2px;
  height: 51px;
  top: 64px;
  right: 16px;
  background-color: #eeeeee;
}

.clients-item:last-child{
  padding-right: 0;
}
.clients-item img {
  opacity: 0.2;
}

.clients-item img:hover{
  opacity: 1;
}

.clients-item img:active{
  opacity: 0.1;
}

.main-footer{
  padding-bottom: 72px;
}

.road-map{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 415px;
  width: 100%;
  margin: 0;
  bottom: 0;
  margin-bottom: 65px;
  background-image: url("../img/map-road.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size:cover;
}

.marker-wrap{
  margin-right: 95px;
}

.adress-wrap{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #ffffff;
  padding: 41px 50px ;

}

.footer-contacts{
  color: #666666;
  line-height: 18px;
}

.footer-contacts .nerds{
  display: inline-block;
  text-transform: uppercase;
  font-weight: bold;
  vertical-align: middle;
  color: #000000;
  font-size: 18px;
  line-height: 30px;
  padding-bottom: 30px;
  padding-left: 12px;
}

.footer-contacts .adress{
  display: inline-block;
  vertical-align: middle;
  padding-bottom: 10px;
  padding-left: 12px;
}

.footer-contacts-btn{
  display: inline-block;
  vertical-align: middle;
  padding: 13px 0;
  background-color: #fb565a;
  border-radius: 2px;
  color: white;
  width: 219px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 48px;
  margin-left: 12px;
}

.footer-contacts-btn:hover{
  background-color: #e74246;
}

.footer-contacts-btn:active{
  background-color: #d7373b;
  border-top: 3px solid #c13135;
  padding-top: 10px;
  color: rgba(255, 255, 255, 0.3);
}

.social-networks{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

.social-button{
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 80px;
    height: 77px;
    padding-top:3px;
    background-color: #e1e1e1;
    vertical-align: middle;
    border-radius: 50%;
    margin-right: 12px;
    z-index: 2000;
}

.social-button:hover{
    background-color: #e74246;
}

.social-button:active{
  padding-top: 0;
  background-color: #d7373b;
  border-top: 3px solid #c13135;
  color: rgba(255, 255, 255, 0.3);
}

.social-button::after{
  content: "";
  display: block;
  position: absolute;
  width: 80px;
  height: 77px;
  top: -2px;
  left: 0;
  background-color: #d7373b;
  border-top: 3px solid #c13135;
  border-radius: 50%;
  opacity: 0;
}

.social-button:active::after{
  opacity: 0.5;
}

.footer-inscription{
  line-height: 22px;
}

.footer-inscription p:first-child{
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
}

.footer-social-wrap{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-inscription{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-left: 126px;
  padding-top: 10px;
}

/*--INNER--*/

.container-inner{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 52px;
}

.site-nav .site-nav-current {
  padding-bottom: 5px;
  border-bottom: 2px solid #fb565a;
  pointer-events: none;
}

.page-title {
  background-color: #eeeeee;
  font-size: 55px;
  line-height: 55px;
  text-align: center;
  padding: 0;
  margin: 0;
  padding-top: 58px;
  padding-bottom: 107px;
}

.filter{
  margin-top: 49px;
}

.range-filter{
  width: 260px;
  margin-bottom: 50px;
}

.range-controls{
  position: relative;
  height: 80px;
  background: #eeeeee;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 15px;
  padding: 0 20px;
}

.range-controls .scale{
  margin-top: 39px;
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar{
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle{
  position: absolute;
  width: 4px;
  height: 4px;
  border: 8px solid white;
  background: #ababab;
  top:30px;
  left:20px;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 #cccdcd;
          box-shadow: 0 2px 1px 0 #cccdcd;
  cursor: pointer;
}

.price-controls{
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
}

.price-controls input{
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color:#283136;
  text-align: center;
  width: 60px;
  padding:8px 10px;
  margin-left:10px;
  border: none;
  background: #eeeeee;
}

.price-controls .min-price{
  margin-right: 30px;
}

.price-controls{
  white-space: nowrap;
}

.range-controls .max-toggle{
  left:165px;
}

.filter-type {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.type-list,
.sort-list,
.pagination-list {
  list-style: none;
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
  margin-bottom: 23px;
}

.filter-option-grid{
  vertical-align: middle;
}

.filters-button{
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 90px;
  padding-right: 90px;
  background-color: #eeeeee;
  border: none;
  border-radius: 2px;
  text-transform: uppercase;
}

.filters-button:hover{
  background-color: #dfdfdf;
}

.filters-button:active{
  background-color: #d5d5d5;
  color: #a9a9a9;
  border-top: 3px solid #bfbfbf;
  padding-top: 17px;
}
/*radio*/
.filter-input-radio-custom{
  position: relative;
  width: 35px;
  height: 25px;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.filter-option-grid label,
.filter-input-radio-custom{
  display: inline-block;
  vertical-align: middle;
}

.type-list{
  padding: 0;
  margin: 0;
  margin-top: 10px;
}

.filter-option-grid label,
.filter-option-features label{
  color: #283136;
  margin-bottom: 15px;
}

.filter-option-grid label:hover span{
  color: #4d4d4d;
}

.filter-option-grid label:hover .filter-input-radio-custom:before{
   -webkit-transition: all .3s;
   -o-transition: all .3s;
   transition: all .3s;
   border-color:#4d4d4d;
}

.filter-option-grid label:hover .filter-input-radio-custom:after{
   -webkit-transition: all .3s;
   -o-transition: all .3s;
   transition: all .3s;
   background-color: #4d4d4d;
}

.filter-option-grid label .filter-input-radio-custom:before{
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    top: 0;
    left: 0;
    background: #fff;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border:3px solid #a6a6a6;
    border-radius: 50%;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.filter-option-grid label .filter-input-radio-custom:after{
    content: "";
    position: absolute;
    width: 9px;
    height: 9px;
    top: 8px;
    left: 8px;
    border-radius: 50%;
    background: #a6a6a6;
    opacity: 0;
}

.filter-input-radio:checked + .filter-input-radio-custom::after{
  opacity: 1;
  background-color:#b8b8b8;
}

.filter-input-radio:checked:hover + .filter-input-radio-custom::after{
  opacity: 1;
}

.filter-input-checkbox-custom{
  position: relative;
  width: 35px;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  height: 25px;
}

.filter-option-features label,
.filter-input-checkbox-custom{
  display: inline-block;
  vertical-align: middle;
}

.type-list{
  padding: 0;
  margin: 0;
  margin-top: 10px;
}

.filter-option-features label:hover span{
  color: #4d4d4d;
}

.filter-option-features label:hover .filter-input-checkbox-custom:before{
   -webkit-transition: all .3s;
   -o-transition: all .3s;
   transition: all .3s;
   border-color:#4d4d4d;
}

.filter-option-features label:hover .filter-input-checkbox-custom:after{
   -webkit-transition: all .3s;
   -o-transition: all .3s;
   transition: all .3s;
}

.filter-option-features label .filter-input-checkbox-custom:before{
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    top: 0;
    left: 0;
    background-image: url("../img/checkbox-off.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.6;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.filter-option-features label .filter-input-checkbox-custom:after{
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    top: 0px;
    left: 0px;
    background-image: url("../img/checkbox-on.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0;
}

.filter-input-checkbox:checked + .filter-input-checkbox-custom::after{
  opacity: 0.6;
}

.filter-input-checkbox:checked:hover + .filter-input-checkbox-custom::after{
  opacity: 1;
}

.filter-input-checkbox:hover + .filter-input-checkbox-custom::before{
  opacity: 1;
}


.sort-list-wrap{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin-bottom: 45px;
  margin-left: 140px;
}

.sort-list{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left:20px ;
  font-size: 14px;
  line-height: 18px;
  padding: 0;
  margin: 0;
}

.button-down{
  display: inline-block;
  width: 11px;
  height: 11px;
  background-image: url("../img/icon-down-dir.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.2;
  margin-left: 48px;
}

.button-up{
  display: inline-block;
  width: 11px;
  height: 11px;
  background-image: url("../img/icon-up-dir.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.2;
  margin-left: 18px;
}

.button-up:hover,
.button-down:hover{
   opacity: 0.5;
}

.button-up:active,
.button-down:active{
   opacity: 1;
}

.sort-item .current-button{
  opacity: 1;
}

.sort-model-wrap{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 760px;
  padding-left: 140px;
}

.sort-model{
  padding-bottom: 33px;
  position: relative;
  padding-top: 36px;
}

.sort-model img{
  border: 1px solid #e9e9e9;
}

.sort-model::before{
  content: "";
  position: absolute;
  width: 360px;
  height:41px;
  background-image: url("../img/browser.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
  top:0;
  left: 0;
  opacity: 0.2;
  cursor: pointer;
}

.sort-model:hover::before{
  opacity: 1;
}

.sort-model:hover .modal-site-oder{
  display: block;
}

.sort-model:hover img{
  -webkit-box-shadow:0 4px 10px 0 rgba(0, 1, 1, 0.25);
          box-shadow:0 4px 10px 0 rgba(0, 1, 1, 0.25);
}

.sort-button {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  opacity: 0.3;
}

.sort-button:hover{
  opacity: 0.6;
}

.sort-button:active{
  opacity: 1;
  border: none;
}

.sort-item .current{
  opacity: 1;
}

.pagination-list{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack:start;
      -ms-flex-pack:start;
          justify-content:flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
  margin-left: 130px;
  padding-top: 19px;
  padding-bottom: 60px;
}

.pagination-item a{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack:center;
      -ms-flex-pack:center;
          justify-content:center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height:50px;
  width: 50px;
  color: #000000;
  background-color: #eeeeee;
  text-align: center;
  vertical-align:middle;
  border-radius: 2px;
  border-top:3px solid transparent;
  margin-left: 10px;
}

.next a{
  line-height: 18px;
  padding-left: 105px;
  padding-right: 105px;
  text-transform: uppercase;
}

.pagination-item a:hover{
  background-color: #dfdfdf;
}

.pagination-item a:active{
  background-color: #d5d5d5;
  border-top: 3px solid #bfbfbf;
}

.pagination-list .current{
  background-color: white;
  height: 47px;
  width: 47px;
  border: 3px solid #dbdbdb;
  pointer-events: none;
}
/*--Сетка--*/

.filter-option-grid label:hover .filter-input-radio-custom::after{
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  opacity: 0.1;
  color: black;
}

.modal{
  display: none;
}

.modal-writeback{
  position: fixed;
  bottom: 179px;
  left: 50%;
  color: #000000;
  -webkit-box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
          box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
  background-color: white;
  width: 760px;
  padding: 75px 100px;
  margin-left: -480px;
  z-index: 1000;
}

.modal-close{
  position: absolute;
  top:80px;
  right:90px ;
  height: 22px;
  width: 22px;
  font-size: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.modal-close::before,
.modal-close::after {
  content: "";
  position: absolute;
  top:10px;
  left: 2px;
  width: 19px;
  height: 3px;
  background-color: #fecccd;
}

.modal-close::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.modal-close::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.modal-description {
  font-size: 45px;
  line-height: 45px;
  margin: 0;
  margin-bottom: 50px;
}

.writeback-form p {
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 39px;
}

.writeback-form{
  width: 100%;
}

.writeback-wrap{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.writeback-form input{
  width: 324px;
  border: 2px solid #d7dcde;
  border-radius: 2px;
  font-size: 16px;
  line-height: 18px;
  color: rgba(68, 68, 68, 0.5);
  outline: none;
  padding: 18px 16px;
  margin-top: 12px;
}

.writeback-form input:hover,
.writeback-form textarea:hover{
  border: 2px solid #b4b9bb;
}

.writeback-form input:focus,
.writeback-form textarea:focus{
  border: 2px solid #000000;
  color: #444444;
}

.writeback-form input:invalid,
.writeback-form textarea:invalid{
  border: 2px solid #e74246;
}

.writeback-form p:first-child{
  margin-right: 40px;
}
.writeback-form label{

}

.writeback-form textarea{
  font-family: "Roboto",sans-serif;
  width: 730px;
  min-height: 114px;
  border: 2px solid #d7dcde;
  border-radius: 2px;
  font-size: 16px;
  line-height: 18px;
  color: rgba(68, 68, 68, 0.5);
  resize: none;
  outline: none;
  margin-top: 12px;
  padding: 12px 15px;
}

.modal-close:hover::after,
.modal-close:hover::before{
  background-color: #fb565a;
}

.modal-close:active::after,
.modal-close:active::before{
  background-color: #ffeeee;
  outline: none;
  border: none;
}

.button-writeback{
  display: inline-block;
  color: white;
  background-color: #fb565a;
  text-transform: uppercase;
  outline: none;
  border: none;
  border-radius: 2px;
  padding: 16px 83px;
}

.button-writeback:hover{
  background-color: #e74246;
}

.button-writeback:active{
  background-color: #d7373b;
}

.modal-site-oder{
  display: none;
  position: absolute;
  bottom: 40px;
  left:0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 362px;
  height: 232px;
  background-color: #eeeeee;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  pointer-events: none;
}

.modal-site-oder-wrap{
  margin-top: 0;
  margin-right: 65px;
  margin-left: 65px;
  margin-bottom: 0;
}

.modal-site-oder h2{
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  margin-bottom: 19px;
  margin-top: 30px;
  text-align: center;
  color: black;
  text-transform: uppercase;
}

.modal-site-oder p{
  font-size: 16px;
  line-height: 18px;
  margin-bottom: 30px;
  text-align: center;
  color: black;

}

.button-site-oder{
  display: inline-block;
  padding:16px 0;
  width:200px;
  color: white;
  background-color: #fb565a;
  border: none;
  border-radius: 2px;
  margin-bottom: 40px;
  text-align: center;
  margin-left: 16px;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  cursor: pointer;
}

.modal-oder {
  display: none;
}
